In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("pandas data/results.csv",index_col='ResponseId')
df_schema=pd.read_csv("pandas data/schema.csv",index_col='qid')

In [3]:
#df
df_schema

,qname,question,force_resp,type,selector
qid,,,,,
QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
QID310,Q310,"<div><span style=""font-size:19px;""><strong>You...",False,DB,TB
QID312,Q120,,True,MC,SAVR
QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
...,...,...,...,...,...
QID289,Knowledge_7,Waiting on answers to questions often causes i...,NaN,MC,MAVR
QID289,Knowledge_8,I feel like I have the tools and/or resources ...,NaN,MC,MAVR
QID290,Frequency_1,Needing help from people outside of your immed...,NaN,MC,MAVR
QID290,Frequency_2,Interacting with people outside of your immedi...,NaN,MC,MAVR
QID290,Frequency_3,Encountering knowledge silos (where one indivi...,NaN,MC,MAVR

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 89184 entries, 1 to 89184
Data columns (total 83 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Q120                                 89184 non-null  object
 1   MainBranch                           89184 non-null  object
 2   Age                                  89184 non-null  object
 3   Employment                           87898 non-null  object
 4   RemoteWork                           73810 non-null  object
 5   CodingActivities                     73764 non-null  object
 6   EdLevel                              87973 non-null  object
 7   LearnCode                            87663 non-null  object
 8   LearnCodeOnline                      70084 non-null  object
 9   LearnCodeCoursesCert                 37076 non-null  object
 10  YearsCode                            87435 non-null  object
 11  YearsCodePro                         66136 non-null  object
 12  DevType                              76872 non-null  object
 13  OrgSize                              65043 non-null  object
 14  PurchaseInfluence                    64964 non-null  object
 15  TechList                             60851 non-null  object
 16  BuyNewTool                           83009 non-null  object
 17  Country                              87973 non-null  object
 18  Currency                             65334 non-null  object
 19  CompTotal                            48225 non-null  float64
 20  LanguageHaveWorkedWith               87140 non-null  object
 21  LanguageWantToWorkWith               80709 non-null  object
 22  DatabaseHaveWorkedWith               73435 non-null  object
 23  DatabaseWantToWorkWith               60911 non-null  object
 24  PlatformHaveWorkedWith               63628 non-null  object
 25  PlatformWantToWorkWith               51308 non-null  object
 26  WebframeHaveWorkedWith               66938 non-null  object
 27  WebframeWantToWorkWith               56741 non-null  object
 28  MiscTechHaveWorkedWith               57019 non-null  object
 29  MiscTechWantToWorkWith               46848 non-null  object
 30  ToolsTechHaveWorkedWith              77884 non-null  object
 31  ToolsTechWantToWorkWith              68315 non-null  object
 32  NEWCollabToolsHaveWorkedWith         85864 non-null  object
 33  NEWCollabToolsWantToWorkWith         76649 non-null  object
 34  OpSysPersonal use                    86557 non-null  object
 35  OpSysProfessional use                78587 non-null  object
 36  OfficeStackAsyncHaveWorkedWith       69090 non-null  object
 37  OfficeStackAsyncWantToWorkWith       53743 non-null  object
 38  OfficeStackSyncHaveWorkedWith        83439 non-null  object
 39  OfficeStackSyncWantToWorkWith        69776 non-null  object
 40  AISearchHaveWorkedWith               56328 non-null  object
 41  AISearchWantToWorkWith               46150 non-null  object
 42  AIDevHaveWorkedWith                  25904 non-null  object
 43  AIDevWantToWorkWith                  19587 non-null  object
 44  NEWSOSites                           87973 non-null  object
 45  SOVisitFreq                          87140 non-null  object
 46  SOAccount                            87852 non-null  object
 47  SOPartFreq                           66061 non-null  object
 48  SOComm                               87692 non-null  object
 49  SOAI                                 47858 non-null  object
 50  AISelect                             87973 non-null  object
 51  AISent                               61501 non-null  object
 52  AIAcc                                38594 non-null  object
 53  AIBen                                61396 non-null  object
 54  AIToolInterested in Using            32783 non-null  object
 55  AIToolCurrently Using                36137 non-null  object
 56  AIToolNot interested in Using        21069 non-null  object
 57  AINextVery different                 12661 non-null  object
 58  AINextNeither different nor similar  6599 non-null   object
 59  AINextSomewhat similar               6238 non-null   object
 60  AINextVery similar                   2621 non-null   object
 61  AINextSomewhat different             23303 non-null  object
 62  TBranch                              65768 non-null  object
 63  ICorPM                               43668 non-null  object
 64  WorkExp                              43579 non-null  float64
 65  Knowledge_1                          42535 non-null  object
 66  Knowledge_2                          41670 non-null  object
 67  Knowledge_3                          41798 non-null  object
 68  Knowledge_4                          41684 non-null  object
 69  Knowledge_5                          41527 non-null  object
 70  Knowledge_6                          41520 non-null  object
 71  Knowledge_7                          41467 non-null  object
 72  Knowledge_8                          41404 non-null  object
 73  Frequency_1                          41916 non-null  object
 74  Frequency_2                          41925 non-null  object
 75  Frequency_3                          41054 non-null  object
 76  TimeSearching                        42778 non-null  object
 77  TimeAnswering                        42629 non-null  object
 78  ProfessionalTech                     41783 non-null  object
 79  Industry                             36774 non-null  object
 80  SurveyLength                         86485 non-null  object
 81  SurveyEase                           86554 non-null  object
 82  ConvertedCompYearly                  48019 non-null  float64
dtypes: float64(3), object(80)
memory usage: 57.2+ MB

In [5]:
#Accessing the ccolumns

df[['Age','Country']]

                           Age                       Country
ResponseId
1              18-24 years old                           NaN
2              25-34 years old      United States of America
3              45-54 years old      United States of America
4              25-34 years old      United States of America
5              25-34 years old                   Philippines
...                        ...                           ...
89180          25-34 years old                        Brazil
89181          18-24 years old                       Romania
89182        Prefer not to say                        Israel
89183       Under 18 years old                   Switzerland
89184          35-44 years old  Iran, Islamic Republic of...

[89184 rows x 2 columns]

In [6]:
#Accessing the rows with iloc

#df.iloc[0]
df.iloc[[0,1],[1,2]]

                                MainBranch              Age
ResponseId
1                            None of these  18-24 years old
2           I am a developer by profession  25-34 years old

In [15]:
#Accessing the rows with loc

df.loc[[1,2],['Country','Age']]

                             Country              Age
ResponseId
1                                NaN  18-24 years old
2           United States of America  25-34 years old

In [ ]:
df['Employment']

In [ ]:
#we can use slicing to select a range instead of giving them in braces

df.loc[0:8,'Employment':'Country']

In [ ]:
#df.index
df_schema.index

In [ ]:
df_schema.loc['QID279','question']

In [ ]:
#we can also sort the indexes
# Inplace statement make sure that the changes are permanent

df_schema.sort_index(inplace=True)

In [ ]:
df_schema
#df

In [ ]:
##   To filter the data 

high_salary=(df['ConvertedCompYearly']>50000)
df.loc[high_salary,['Country','TechList','ConvertedCompYearly']]

In [ ]:
# sorting values based on columns

df_sorted=df.sort_values(by='Country')
df_sorted['Country']

In [ ]:
# filtering based on a list
df_sorted

In [ ]:
#Filtering can be done on a list as well

countries=['India','France','Germany']
filt_list=df['Country'].isin(countries)
df.loc[filt,'Country']

In [ ]:
#filtering based on a substring

#df['LanguageHaveWorkedWith'].unique()
filt_string=df['LanguageHaveWorkedWith'].str.contains('Python',na=False)
df.loc[filt_string,'LanguageHaveWorkedWith']

In [13]:
#Changing the name of a column

df.rename(columns={'ConvertedCompYearly':'Salary'},inplace=True)
df['Salary']

ResponseId
1             NaN
2        285000.0
3        250000.0
4        156000.0
5         23456.0
           ...
89180         NaN
89181         NaN
89182         NaN
89183         NaN
89184         NaN
Name: Salary, Length: 89184, dtype: float64

In [21]:
#changing values in rows

# This shows how apply work on series objects

df['Salary']=df['Salary'].apply(lambda x: x+100)
df['Salary']

ResponseId
1              NaN
2        4560100.0
3        4000100.0
4        2496100.0
5         375396.0
           ...
89180          NaN
89181          NaN
89182          NaN
89183          NaN
89184          NaN
Name: Salary, Length: 89184, dtype: float64

In [24]:
# This shows how applymap work on dataframe

df.applymap(len)

# applymap is used to work with datframes while apply is used for series objects
# this will give a error as also have float values in dataset

TypeError: object of type 'float' has no len()

In [39]:
# This show how to work with replace in series

df['LearnCodeCoursesCert'].replace({'NaN':'Books'})

ResponseId
1                                    NaN
2                                  Other
3                                    NaN
4                                    NaN
5                   Other;Codecademy;edX
                      ...
89180                              Udemy
89181                                NaN
89182                Codecademy;Coursera
89183                              Udemy
89184    Codecademy;Pluralsight;Coursera
Name: LearnCodeCoursesCert, Length: 89184, dtype: object

ResponseId
1                                    NaN
2                                  Other
3                                    NaN
4                                    NaN
5                   Other;Codecademy;edX
                      ...
89180                              Udemy
89181                                NaN
89182                Codecademy;Coursera
89183                              Udemy
89184    Codecademy;Pluralsight;Coursera
Name: LearnCodeCoursesCert, Length: 89184, dtype: object